= simple_form_for([:backend, @manage_training], url: backend_manage_trainings_path) do |f|
  = errors_for(@manage_training)
  .row
    .col-md-6
      .form-group
        label for="datepicker"* Data treningu
        = f.text_field :date_of_training, as: :date, class: 'datepicker',
            placeholder: 'Kliknij'
        label for='input_starttime'* Godzina rozpoczęcia
        = f.text_field :start_on, class: 'timepicker', required: true,
          id: 'input_starttime', placeholder: 'Kliknij'
        = f.input :training_cost_id, required: true, label: "Czas trwania" ,
          collection: @training_costs.map{ |tc| [tc.full_duration, tc.id] },
          prompt: 'Wybierz czas trwania treningu'
        = f.input :trainer_id, required: true, collection: @trainers.map{|t| [t.full_name, t.id]},
                              prompt: "Wybierz trenera"
        = f.input :client_id, required: true, collection: @clients.map{|c| [c.full_name, c.id]},
                              prompt: "Wybierz klienta"
        = f.button :submit, class: "btn btn-primary btn-block"
