#main.clear-top
  .container.fix
    h2 Zapomniałeś hasła?
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = errors_for(resource)
      .form-inputs
        = f.input :email, required: true, autofocus: true
      .form-actions
        = f.button :submit, "Resetuj hasło", class: "btn btn-info"
    = render "devise/shared/links"
= render '/layouts/footer'
