= form_tag search_backend_people_path, method: :get do
  .input-group.col-md-12
    = text_field_tag :search, params[:search], class: "search-query", placeholder: "Szukaj..."
    %span.input-group-btn
      %button.btn.btn-danger{:type => "submit"}
        %i.glyphicon.glyphicon-search
