h4
  | Edycja profilu:
  br
h5
  = @person.full_name
= info("W tym miejsu edytujesz dane osobowe użytkownika.")
.col-md-6
  = simple_form_for([:backend, @person], as: :person, url: {action: "update"}, html: { class: 'form-horizontal' }) do |f|
    = errors_for(@person)
    .form-group
      = f.input :pesel, required: true, autofocus: true
    .form-group
      = f.input :first_name, required: true
    .form-group
      = f.input :last_name, required: true
    .form-group
      label for="datepicker"* Data urodzenia
      = f.text_field :date_of_birth, required: true, class: 'datepicker',
                     placeholder: 'Kliknij'
    .form-group
      = f.input :email, required: true
    .form-group
      .col-md-12
        = f.input :profile_image, as: :file
        - if @person.profile_image.present?
          = link_to remove_photo_backend_person_path(@person), method: :delete, data: {confirm: 'Czy na pewno?'}, class: "btn btn-sm btn-danger" do
            i.fa.fa-trash-o
            |  Usuń zdjęcie profilowe
    - if current_person.type == 'Manager'
      .form-group
        = f.input :salary, required: true
      .form-group
        label for="datepicker"* Data zatrudnienia
        = f.text_field :hiredate, required: true, class: 'datepicker',
                       placeholder: 'Kliknij'
      .form-group
        label for="type"* Typ pracownika
        = f.select :type, options_for_select([["Recepcjonista", "Receptionist"],
                                             ["Trener", "Trainer"],
                                             ["Ratownik", "Lifeguard"]]),
                                             prompt: 'Wybierz typ pracownika', class: 'type', required: true
    - if @person == current_person
      .form-group
        = f.input :password, hint: ("minimum #{@minimum_password_length} znaków" if @minimum_password_length)
        | (zostaw puste, jeżeli nie chcesz zmieniać)
      .form-group
        = f.input :password_confirmation
      .form-group
        = f.input :current_password, autocomplete: "off"
        | (potrzebujemy hasło do potwierdzenia zmian)
    .form-actions
      = f.button :submit, "Zapisz", class: "btn btn-primary btn-block"
