%h5 Dodawanie harmonogramu pracy
.row
  .col-md-6
    .card-panel
      .blue-text.text-darken-2
        %i.fa.fa-info-circle
        Na tej stronie możesz dodać harmonogram pracy dla dowolnego pracownika.
= render 'form'
