/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_self
 *= require_tree .
 */
@import "reset.scss";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome.css";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5.css";
@import "simple_calendar";
body,
html {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 350px;
}
body {
  padding-top: 65px;
  margin-bottom: 90px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

//fixed position of searchbars
.searchbar-fix {
  padding-top: 9px;
}

.footer {
  position: relative;
  /* negative value of footer height */
  height: auto;
  clear: both;
}
#frontend {
  background-image: url("/images/blue-slate.jpg");
  color: #fff;
}
.login-container {
  min-height: 600px;
}
.fa-check-square-o {
  color: green;
}
.fa-times-circle {
  color: red;
}
.fa-times {
  color: red;
}
/* Change color of alert tekst messages for errors_for */
.panel-body li {
  color: #000;
}
/* Fix position for container below navbar */
.fix {
  margin-top: 50px;
}
.fix-brand {
  margin-top: -6px;
}
.fix-img {
  margin-bottom: -5px;
}
/* font color for statistic page */
.success {
  color: #00C851;
}
.danger {
  color: #ff4444;
}
/*********************************/
.clickable {
  cursor: pointer;
}
.error-box {
  margin-top: 100px;
}
/*********************************/
.searchbar {
  margin-bottom: 140px;
}
.simple-calendar {
  .has-events {
    background-color: #2a9ef4;
    color: #fff;
  }
}
.resize {
  padding-top: 300px;
}
.input .date .required .client_date_of_birth {
  display: inline-block;
  width: 30%;
}
.container {
  padding-top: 10px;
}
.divider {
  text-align: center;
}
/* Move checkbox(e.g. activities/form) to right */
.checkbox-fix {
  margin-left: 20px;
}
/*Text in price tables*/
#price p {
  color: #000;
}
/*Box below slider */
.description {
  border-color: #000;
  color: #fff;
  border-style: round(2);
  background-color: #009ACD;
  height: 314px;
}
/* Parallax before about container */
#parallax_about {
  background-image: url("/images/swim_parallax1.jpg");
  margin-top: 30px;
  margin-bottom: 30px;
  height: 300px;
}
/*Checks in about container*/
.fa.fa-check {
  color: green;
}
/* Parallax before contact */
#parallax_contact {
  background-image: url("/images/swim_parallax2.jpg");
  margin-top: 30px;
  margin-bottom: 30px;
  height: 300px;
}
/***********************/
/* Sortable arrows in Work_Schedule index */
.pretty th .current {
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: right center;
}
.pretty th .asc {
  background-image: url("/images/up_arrow.png");
}
.pretty th .desc {
  background-image: url("/images/down_arrow.png");
}
/******************************************/
// #contact {
//   padding-bottom: 100px;
// }
.item.active {
  height: auto;
}
.item {
  height: auto;
}
#slider {
  margin-top: 100px;
}
/* Main carousel on top page */
.carous1 {
  height: auto;
}
/***************************/
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
// /* Height for price cards in main page depend on width of browser */
@media (min-width: 892px) and (max-width: 1080px) {
  #price-card.card-content {
    min-height: 635px;
  }
}
@media (min-width: 692px) and (max-width: 892px) {
  #price-card.card-content {
    min-height: 843px;
  }
}
@media (min-width: 1080px) {
  #price-card.card-content {
    min-height: 400px;
  }
}
@media (min-width: 0px) and (max-width: 692px) {
  #price-card.card-content {
    min-height: 0;
  }
}
/*****************************************************************/
/* Override Bootstrap 3 font locations */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../assets/glyphicons-halflings-regular.woff') format('woff'), url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.view-overlay {
  width: 300px;
  height: 165px;
  overflow: auto;
  display: inline-block;
  text-align: center;
}
.row .col-md-4 .well {
  width: 300px;
}
#about {
  font-family: 'Andada', sans-serif;
}
#swim {
  padding-left: 60px;
  padding-top: 60px;
}
.carousel-inner {
  font-family: 'Archivo Black', sans-serif;
}
