<p>Cześć <%= @resource.email %>!</p>

<p>Odebraliśmy żądanie zreseowania Twojego hasła. Moższ to zrobić, klikając poniższy odnośnik.</p>

<p><%= link_to "Zmień hasło", edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Jeżeli nie klikniesz powyższego odnośnika i nie utworzysz nowego hasła, nie zostanie ono zmienione.</p>
