h5.section-title.st-blue
  | 1 krok
  small Wybór trenera
h5 Trenerzy
= info("Poniżej znajduje się lista dostępnych trenerów, z którymi możesz \
        przeprowadzić indywidualny trening.")


- @trainers.each do |t|
  .col-md-4
    .testimonial-card.z-depth-1
      .card-up.default-color-dark
      .avatar
        img.img-circle.img-responsive src=t.profile_image
      .card-content
        h5
          = t.full_name
        p
          | Wiek: #{t.age}
        p
          | Dostępny w dni:
          - t.work_schedules.each_with_index do |w, i|
            - if i == t.work_schedules.size - 1
              |  #{w.day_of_week}
            - else
              |  #{w.day_of_week + ', '}
        h5
          = link_to new_backend_trainer_individual_training_path(current_person, t.id) do
            .btn.btn-border-default.waves-effect
              i.fa.fa-check-circle-o
              | Wybieram


= will_paginate @trainers, renderer: BootstrapPagination::Rails
