= link_to backend_individual_trainings_path do
  .btn.btn-primary.waves-effect.waves-light
    i.fa.fa-chevron-left
    |  Wróć
h5 Edycja treningu
= info("Jesteś na stronie edycji szczegółów dot. treningu indywidualnego.")
= render 'form'
