.container-fluid.parallax#parallax_about
#about.container
  .row
    .col-md-10
      %h3.section-title.st-blue O Pure Space
      %h5
        Aquapark Pure Space powstał w 2016r. Naszą główną misją jest zapewnienie
        w Warszawie wodnych rozrywek, miejsca na uprawianie sportu i rekreacji.
        Charakteryzuje nas innowacyjne podejście oraz wysoka jakość oferowanych usług.
        Powierzchnia aquaparku to około
        %b
          7.500 m2
        przestrzeni użytkowej. Znajdują się
        tu 4 pełnowymiarowe baseny, 8 różnego typu jacuzii, 4 rodzaje saun m.in sucha
        oraz parowa, 3 baseny przeznaczone dla dzieci, 5 zjeżdzalni oraz wiele innych
        mniejszych atrakcji.
      %br
      %br
      %h5.section-title.st-indigo
        Nasze zalety:
      %h5
        .fa.fa-check
        \woda w basenach posiada bardzo niski współczynnik chlorowania, tak aby
        zapewnić najmłodszym bezpieczne i zdrowe dla skóry pływanie.
        %br
        .fa.fa-check
        \prowadzimy liczne zajęcia takie jak nauka pływania, areobik oraz crosffit wodny,
        które są bezpłatne w ramach wejściówki.
        %br
        .fa.fa-check
        \każdy sektor aquaparku jest stale monitorowany przez nasz personel, który
        czuwa nad Państwa bezpieczeństwem.
        %br
        .fa.fa-check
        \nasi ratownicy przechodzą regularne szkolenia oraz
        posiadają wszystkie niezbędne certyfikaty upoważniające do udzielania
        profesjonalnej pomocy naszym klientom.
        %br
        .fa.fa-check
        \regularnie sprawdzamy sprawność i czystość sprzętu technicznego.
        %br
        .fa.fa-check
        \prowadzimy liczne kampanie propagujące zdrowy styl życia, oraz uświadamiające osobom jakie
        pozytywne czynniki wynikają z uprawiania sportów wodnych.
        %br
        .fa.fa-check
        \Pure Space jest czynny 24h przez 7 dni w tygodniu. Jesteśmy jedynym w Polsce aquaparkiem
        umożliwiającym Państwu przyjście do nas o dowolnej porze!
    .col-md-2
      %img#swim{:src => "http://www.mediafire.com/convkey/3908/v21uoxcobu4cjjdzg.jpg"}
