/ Footer section
%footer.page-footer.primary-color-dark.center-on-small-only.footer.affix-end
  .container-fluid
    .row
      / First column
      .col-md-12.text-center
        %p.column-title.white-text Dlaczego my?
        .column-content
          %p.thin-100.white-text
            Wiedza i doświadczenie w prowdzeniu tego typu przedsięwzięcia daje nam pozycję lidera w dziedzinie zarządzania aquaparkiem i oferowania klientom najwyższej jakości usług.
            %br
              %br Możemy się mylić, dlatego sprawdź nas już dzisiaj!
  .call-to-action.inline-block
    %ul.list-inline
      %li
        %h5.white-text Darmowa rejestracja
      %li
        = link_to new_client_registration_path do
          %i.btn.btn-danger.waves-effect.waves-light
            DOŁĄCZ DO NAS!
  .footer-copyright.text-center.rgba-black-light
    .container-fluid
      © #{Date.today.year} Copyright:
      Łukasz Korol s9434
