/ Navbar
nav.navbar.navbar-dark.bg-primary
  .container-fluid
    / Navbar Brand
    a.navbar-brand
      .fix-brand
        img.fix-img src="/images/brand.png" /
        b
          |  Pure Space

    / links
    ul.nav.navbar-nav
      li.nav-item
        a.nav-link href="#slider" Strona Główna
      li.nav-item
        a.nav-link href="#about" O nas
      li.nav-item
        a.nav-link href="#price" Cennik
      li.nav-item
        a.nav-link href="#contact" Kontakt
      ul.nav.navbar-nav.navbar-right
        - unless person_signed_in?
          li.nav-item class=(active?(new_person_session_path))
            = link_to new_person_session_path do
              i.fa.fa-sign-in
              |  Logowanie
          li.nav-item class=(active?(new_client_registration_path))
            = link_to new_client_registration_path do
              i.fa.fa-user-plus
              |  Rejestracja
        - else
          li.nav-item
            = link_to backend_person_path(current_person.id) do
              = current_person.full_name
          li.nav-item
            = link_to destroy_person_session_path, method: :delete do
              i.fa.fa-sign-out
              |  Wyloguj
