.container.divider
  #carousel1.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li{"data-target" => "#carousel1", "data-slide-to" => "0"}
      %li{"data-target" => "#carousel1", "data-slide-to" => "1"}
      %li{"data-target" => "#carousel1", "data-slide-to" => "2"}
      %li{"data-target" => "#carousel1", "data-slide-to" => "3"}

    .carousel-inner
      .item.active
        %img{:src => "https://s3.amazonaws.com/aquapark-s9434/water-103817_1920.jpg"}
        .carousel-caption
          %h3 Witaj w naszym wodnym świecie!
          %p Czeka na Ciebie mnóstwo atrakcji!
      .item
        %img{:src => "https://s3.amazonaws.com/aquapark-s9434/interior_small.jpg"}
        .carousel-caption
          %h3 Strefa relaksu
          %p Odpręż się i odpocznij.
      .item
        %img{:src => "https://s3.amazonaws.com/aquapark-s9434/swimming-pool.jpg"}
        .carousel-caption
          %h3 Kompleks basenów
          %p Oferujemy szeroki wachlarz miejsc do pływania.
      .item
        %img{:src => "https://s3.amazonaws.com/aquapark-s9434/original_small.jpg"}
        .carousel-caption
          %h3 Niezapomniane chwile
          %p Z nami spełnisz swoje wodne aspiracje.
    %a.left.carousel-control{:href => "#carousel1", "data-slide" => "prev"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %a.right.carousel-control{:href => "#carousel1", "data-slide" => "next"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
.container.text-center
  %h3 Innowacja i nowoczesność
  %br
  .row
    .col-md-4
      .view.overlay.hm-white-light.view-overlay
        %img.img-responsive{:src => "https://s3.amazonaws.com/aquapark-s9434/steam-bathing-1.jpg"}
        .mask
    .col-md-4
      .view.overlay.hm-white-light.view-overlay
        %img.img-responsive{:src => "https://s3.amazonaws.com/aquapark-s9434/slide.jpg"}
        .mask
    .col-md-4
      .view.overlay.hm-white-light.view-overlay
        %img.img-responsive{:src => "https://s3.amazonaws.com/aquapark-s9434/attractive_swimmers.jpeg"}
        .mask
    -# .col-sm-4
    -#   %a.thumbnail{:href => "#", "data-toggle" => "modal", "data-target" => "#lightbox"}
    -#     %img.blur{:src => "https://s3.amazonaws.com/aquapark-s9434/slide.jpg"}
    -#   #lightbox.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
    -#     .modal-dialog
    -#       %button.close.hidden{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    -#       .modal-content
    -#         .modal-body
    -#           %img{:alt => "https://s3.amazonaws.com/aquapark-s9434/slide-large.jpg", :src => ""}
    -# .col-sm-4
    -#   %a.thumbnail{:href => "#", "data-toggle" => "modal", "data-target" => "#lightbox"}
    -#     %img.blur{:src => "https://s3.amazonaws.com/aquapark-s9434/attractive_swimmers.jpeg"}
    -#   #lightbox.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
    -#     .modal-dialog
    -#       %button.close.hidden{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    -#       .modal-content
    -#         .modal-body
    -#           %img{:alt => "https://s3.amazonaws.com/aquapark-s9434/attractive_swimmers-large.jpg", :src => ""}
  .row
    .col-sm-4
      .well
        %p Do państwa dyspozycji oddajemy, aż 7500m2 powierzchni kompleksu basenowego. Posiadamy najwyższej jakości sauny parowe oraz suche, oraz różnego rodzaju jacuzii. Każdy znajdzie coś dla siebie!
    .col-sm-4
      .well
        %p Pure Space to idealne miejsce do reailzacji różnego rodzaju wodnych aktywności. Po za oferowanymi zajęciami dajemy Państwu do dyspozycji mnóstwo atrakcji dla młodszych jak i starszych m.in. zjeżdzalnie, wodne turbiny jak i groty solne!
    .col-sm-4
      .well
        %p Nad Państwa bezpieczeństwem czuwają wykwalifikowani ratownicy oraz personel basenowy. Każdy obszar aquaparku jest stale monitorowany przez naszych pracowników. Nie musicie martwić się o bezpieczeństwo wasze i swoich najbliższych!
