.container.divider
  / Carousel
  #carousel1.carousel.slide.carousel-fade.hoverable
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel1"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel1"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel1"}
      %li{"data-slide-to" => "3", "data-target" => "#carousel1"}
    / Wrapper for slides
    .carousel-inner.carous1.z-depth-2{:role => "listbox"}
      / First slide
      .item.active
        .view.overlay.hm-blue-slight
          %a
            %img.img-responsive{:alt => "slide1", :src => "/images/water.jpg"}/
            .mask.waves-effect.waves-light
          .carousel-caption.hidden-xs
            .animated.fadeInDown
              %h3 Witaj w naszym wodnym świecie!
              %p Czeka na Ciebie mnóstwo atrakcji!
      / /.item
      / Second slide
      .item
        .view.overlay.hm-blue-slight
          %a
            %img.img-responsive{:alt => "slide2", :src => "/images/interior_small.jpg"}/
            .mask.waves-effect.waves-light
          .carousel-caption.hidden-xs
            .animated.fadeInDown
              %h3 Strefa relaksu
              %p Odpręż się i odpocznij.
      / /.item
      / Third slide
      .item
        .view.overlay.hm-blue-slight
          %a
            %img.img-responsive{:alt => "slide3", :src => "/images/swimming-pool.jpg"}/
            .mask.waves-effect.waves-light
          .carousel-caption.hidden-xs
            .animated.fadeInDown
              %h3 Kompleks basenów
              %p Oferujemy szeroki wachlarz miejsc do pływania.
      .item
        .view.overlay.hm-blue-slight
          %a
            %img.img-responsive{:alt => "slide4", :src => "/images/original_small.jpg"}/
            .mask.waves-effect.waves-light
          .carousel-caption.hidden-xs
            .animated.fadeInDown
              %h3 Niezapomniane chwile
              %p Z nami spełnisz swoje wodne aspiracje.
      / /.item
    / /.carousel-inner
    / Controls
    %a.left.carousel-control.new-control{"data-slide" => "prev", :href => "#carousel1", :role => "button"}
      %span.fa.fa.fa-angle-left.waves-effect.waves-light
      %span.sr-only Previous
    %a.right.carousel-control.new-control{"data-slide" => "next", :href => "#carousel1", :role => "button"}
      %span.fa.fa.fa-angle-right.waves-effect.waves-light
      %span.sr-only Next
  / /.carousel


.container.text-center
  = render 'layouts/messages'
  %h3.divider-new Innowacja i nowoczesność
  %br
  .row
    .col-md-4
      .view.overlay.hm-white-light.view-overlay
        %img.img-responsive{:src => "/images/steam-bathing.jpg"}
        .mask
    .col-md-4
      .view.overlay.hm-white-light.view-overlay
        %img.img-responsive{:src => "/images/slide.jpg"}
        .mask
    .col-md-4
      .view.overlay.hm-white-light.view-overlay
        %img.img-responsive{:src => "/images/attractive_swimmers.jpeg"}
        .mask
  .row
    .col-sm-4
      .well.description
        %p Do państwa dyspozycji oddajemy, aż 7500m2 powierzchni kompleksu basenowego. Posiadamy najwyższej jakości sauny parowe oraz suche, oraz różnego rodzaju jacuzii. Każdy znajdzie coś dla siebie!
    .col-sm-4
      .well.description
        %p Pure Space to idealne miejsce do reailzacji różnego rodzaju wodnych aktywności. Po za oferowanymi zajęciami dajemy Państwu do dyspozycji mnóstwo atrakcji dla młodszych jak i starszych m.in. zjeżdzalnie, wodne turbiny jak i groty solne!
    .col-sm-4
      .well.description
        %p Nad Państwa bezpieczeństwem czuwają wykwalifikowani ratownicy oraz personel basenowy. Każdy obszar aquaparku jest stale monitorowany przez naszych pracowników. Nie musicie martwić się o bezpieczeństwo wasze i swoich najbliższych!
